#header_wrap {
    background: #212121;
}

#header-wrap .inner {
    padding: 50px 10px 30px 10px;
}

.outer {
    width: 100%;
}

.inner {
    position: relative;
    max-width: 640px;
    padding: 20px 10px;
    margin: auto;
}

#project_title {
    font-family: Arial;
    margin: 0;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
}

#project_tagline {
    font-family: Arial;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    background: none;
}

.photo {
    margin: auto;
    display: block;
}

p {
    font-family: Arial;
    font-size: 20px;
    border-style: none;
    text-align: center;
    padding: 30px;
}

/*
Original code for sample only-

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;;
  -webkit-font-smoothing: antialiased;
}
*/